:root{
    --first-color:#2F303A; 
    --white: #FFFFFF; 
    --grey-text: #757575;
    --dark-text:#212121;
    --hover:#2196F3;
    --soft-background:#F5F4FA;
} 
body{
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: #000000;
}
.decorative-web{
    color: var(--hover);
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0;
}
.header-items{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 24px 0;
}
.nav-ul{
    display: flex;  
    justify-content:space-between;
    margin-left: 95px;
    width: 933px;
}
.navigation , .header-address{
    display: flex;
    gap: 50px;
}
.navigation-el{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-text);
}
.address-el{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    color: var(--grey-text)
}
.navigation-el:hover , .address-el:hover{
    color: var(--hover);
} 
.hero{
    font-family: 'Roboto';
    background-image:linear-gradient( 
        /* to bottom, */
        rgba(47,48,58,0.4),
        rgba(130,132,160,0.4)),
    url(./img/hero-background.png);
    height: 600px;
    padding-top: 200px;
}
.solution{
    color: var(--white);
    font-size: 44px;
    font-weight: 900;
    text-align: center; 
}
.main-button{
    background-color: var(--hover);
    color: var(--white);
    font-size: 16px;
    font-weight: 700; 
    border: none;
    border-radius: 5px;
    padding: 12px 30px;
    display: block;
    margin: 0 auto;
}
.features{
    font-family: 'Roboto';
    display: inline-flex;
    gap: 30px;
    margin-top: 95px;
    height: 284px;
}
.features-li{
    width: calc((100% - 60px) /4);
    height: 72px;
}
.features-li::before{
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 3px;
    background-size: contain;
    background-color:var(--soft-background);
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: center;
}
.features-li:first-child::before{
    background-image: url(./img/antenna\ 1.svg);
}
.features-li:last-child::before{
    background-image: url(./img/astronaut\ 1.svg);
}
.features-li:nth-child(2)::before{
    background-image: url(./img/clock\ 1.svg);
}
.features-li:nth-child(3)::before{
    background-image: url(./img/diagram\ 1.svg);
}
.features h4{
    font-weight: 700;
    font-size: 14px;
    color: var(--dark-text);
    margin-bottom: 0px;
}
.features p{
    font-size: 14px;
    font-weight: 400;
    color: var(--grey-text);
    line-height: 20px;
}
.main-h2{
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 700;
    color: var(--dark-text);
    text-align: center;
    margin-bottom: 50px;
}
.activities{
    display:flex;
    gap: 30px;
}
.activities-it{
    width: calc((100% - 60px) /3);
}
.team{
    font-family: 'Roboto';
    background-color: var(--soft-background);
    margin-top: 90px;
    padding: 95px 0;
}
.team-members{
    display: flex;
    gap: 30px;
}
.team-container{
    /* height: 370px; */
    width: calc((100% - 60px) /3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3) ;
    line-height: 0px; 
    border-radius: 5px;
}
.team-info{
    background-color: var(--white);
    height: 110px; 
    line-height: 15px;
}
.team-members h5{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 0px;
    padding-top: 35px;
}
.team-members p{
    font-size: 16px;
    font-weight: 400; 
    color: var(--grey-text);
    text-align: center;
}

/* portfolio */

.topic{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 105px;
    margin-bottom: 50px;
}
.topic-el{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-text);
    background-color: #F5F4FA;
    border-color: #F5F4FA;
    padding: 10px 22px;
    border-radius: 4px;
    border: none;
    cursor:pointer;
}
.topic-el:hover{
    color: var(--white);
    background-color: var(--hover);
    box-shadow: 0px 2px 4px var(--grey-text);          
}
.projects{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 85px;
}
.project-el{
    width: calc( (100% - 60px) /3);
    height: 404px;
    margin-bottom: 30px;
    line-height: 0px;  
}
.project-el:hover{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.project-text{
    background-color: var(--white);
    border: 1px solid #EEEEEE;
    height: 110px;
    line-height: 15px;
}
.projects h5{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight:700;
    padding-left: 24px;
    margin-top: 30px;
    margin-bottom: 25px;
}
.projects p{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: var(--grey-text);
    padding-left: 24px; 
}
footer{
    background-color: var(--first-color);
    color: var(--white);
    padding: 60px 0;
}
.address{ 
     margin-top: 24px;
     line-height: 30px;
}
footer .navigation-el , footer .logo{
    color: var(--white);
}