:root{
    --first-color:#2F303A; 
    --white: #FFFFFF; 
    --grey-text: #757575;
    --dark-text:#212121;
    --hover:#2196F3;
} 
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: #000000;
}
span{
    color: var(--hover);
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0;
}
.header-items{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 24px 0;
}
.nav-ul{
    display: flex;  
    justify-content:space-between;
    margin-left: 95px;
    width: 933px;
}
.navigation , .header-address{
    display: flex;
    gap: 50px;
}
.navigation-el{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-text);
}
.address-el{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    color: var(--grey-text)
}
.navigation-el:hover , .address-el:hover{
    color: var(--hover);
} 
.article{
    font-family: 'Roboto';
    background-color: var(--first-color);
    height: 600px;
    padding-top: 200px;
}
.solution{
    color: var(--white);
    font-size: 44px;
    font-weight: 900;
    text-align: center; 
}
.main-button{
    background-color: var(--hover);
    color: var(--white);
    font-size: 16px;
    font-weight: 700; 
    border: none;
    border-radius: 5px;
    padding: 12px 30px;
    display: block;
    margin: 0 auto;
}
.features{
    font-family: 'Roboto';
    display: flex;
    gap: 30px;
    margin: 100px 0;
}
.container-feature{
    width: 270px;
    height: 72px;
}
.features h4{
    font-weight: 700;
    font-size: 14px;
    color: var(--dark-text);
}
.features p{
    font-size: 14px;
    font-weight: 400;
    color: var(--grey-text);
    line-height: 20px;
}
.main-h2{
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 700;
    color: var(--dark-text);
    text-align: center;
    margin-bottom: 50px;
}
.activities{
    display:flex;
    gap: 30px;
}
.activities-it{
    width: 370px;
    height: 294px;
}
.team{
    font-family: 'Roboto';
    background-color: #F5F4FA;
    margin-top: 90px;
    padding: 95px 0;
}
.team-members{
    display: flex;
    gap: 30px;
}
.team-container{
    width: 270px;
    height: 370px;
    background-color: var(--white);
}
.member-img{
    width: 270px;
    height: 260px;
}
.team-members h5{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 10px;
}
.team-members p{
    font-size: 16px;
    font-weight: 400; 
    color: var(--grey-text);
    text-align: center;
}

/* portfolio */

.topic{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 105px;
    margin-bottom: 50px;
}
.topic-el{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-text);
    background-color: #F5F4FA;
    border-color: #F5F4FA;
    padding: 10px 25px;
    border-radius: 4px;
    border: none;
   
}
.topic-el:hover{
    color: var(--white);
    background-color: var(--hover);
    box-shadow:1px 3px 10px var(--grey-text);
}
.projects{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 85px;
    background-color: #2196F3;
}
.project-container{
    height: 404px;
    background-color: var(--white);
    margin-bottom: 30px;
    width: calc( (100%-60px) /3);
    line-height: 5px;
}
.project-img{
    height: 294px;
}
.projects h5{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: bold;
    padding-left: 24px;
}
.projects p{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: var(--grey-text);
    padding-left: 24px;
}
footer{
    background-color: var(--first-color);
    color: var(--white);
    padding: 60px 0;
}
.address{ 
     margin-top: 24px;
}
footer .navigation-el , footer .logo{
    color: var(--white);
}