:root{
    --first-color:#2F303A; 
    --white: #FFFFFF; 
    --grey-text: #757575;
    --dark-text:#212121;
    --hover:#2196F3;
} 
.logo{
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 26px;
    color: #000000;
}
ul{
    list-style-type: none;
}
.navigation-el{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: medium;
    color: var(--dark-text);
}
.navigation-el:hover{
    color: var(--hover);
} 

.main-section{
    font-family: 'Roboto';
    background-color: var(--first-color);
}
.solution{
    color: var(--white);
    font-size: 44;
    font-weight: black;
}
.main-button{
    background-color: var(--hover);
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
}
.features h4{
    font-weight: bold;
    font-size: 14px;
}
.features p{
    font-size: 14px;
    font-weight: 400;
    color: var(--grey-text);
}
.main-h2{
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: bold;
    color: var(--dark-text);
}
.team{
    font-family: 'Roboto';
    background-color: #F5F4FA;
}
.team-member{
    background-color: var(--white);
}
.team-member h5{
    font-size: 16px;
    font-weight: medium;
}
.team-member p{
    font-size: 16px;
    font-weight: 400; 
    color: var(--p-color);
}
.topic-el{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: medium;
    color: var(--dark-text);
    background-color: #F5F4FA;
    border-color: #F5F4FA;
}
.topic-el:hover{
    color: var(--white);
    background-color: var(--hover);
}
.project-el{
    background-color: var(--white);
}
.projects h5{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: bold;
}
.projects a{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: var(--grey-text);
}
footer{
    background-color: var(--first-color);
    color: var(--white);
}
footer .navigation-el{
    color: var(--white);
}
footer .logo , p{
    color: var(--white);
}