 h1:first-of-type{
    background-color: mediumslateblue;
}
.monday{
    color: darkslateblue;
}
.tuesday{
    color: darkolivegreen;
}
.wednesday{
    color: dodgerblue;
}
.monday-sub .list-item:nth-child(even){
    color: blueviolet;
}
.monday-sub .list-item:nth-child(odd){
    color: deepskyblue;
}
.tuesday-sub .list-item:nth-child(even){
    color: gold;
}
.tuesday-sub .list-item:nth-child(odd){
    color:green; 
}
.wednesday-sub .list-item:nth-child(even){
    color: lightpink;
}
.wednesday-sub .list-item:nth-child(odd){
    color: lightskyblue;
}
.list-item:nth-last-child(2){
    font-style: italic;
}
a:hover , a:active{
    color: deeppink;
    cursor: progress;
}